@import "https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/css/ionicons.min.css";
*{
    padding: 0;
    margin: 0;
    font-family: "Century Gothic";
    text-decoration: none;
}
body{
    background: #9b59b6;
}
.card{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f1f1f1;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 20px #000000b3;
}
.card-header{
    height: 300px;
    overflow: hidden;
    position: relative;
}
.card-header img{
    height: 100%;
}
.card-header .cover{
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    background: #9b59b6b3;
}
.card-header .menu{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    color: white;
    opacity: 0.7;
     cursor: pointer;
}
.card-header .menu span{
    font-size: 32px;
}
.card-header .menu ul{
    background: #333333b3;
    padding: 6px 0;
    margin: 0 14px;
}
.card-header .menu ul li{
    float: left;
    width: 30px;
    text-align: center;
    list-style: none;
    display: none;
}
.card-header .menu:hover li{
    display: block;
}

.card-header .name{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    opacity: 0.7;
}
.card-header .last{
    display: block;
    font-size: 36px;
}
.card-header .first{
    display: block;
    font-size: 48px;
}

.container{
    padding: 20px;
    overflow: hidden;
}
.left-section{
    width: 260px;
    overflow: hidden;
    float: left;
}
.left-section h3{
    color: #8e44ad;
}
.left-section p{
    margin: 30px 0;
}
.left-section .followbtn{
    width: 100%;
    background: #8e44ad;
    border-radius: 12px;
    color: white;
    text-align: center;
    display: block;
    padding: 8px 0;
    transition: 0.2s all;
}
.left-section .followbtn:hover{
    background: #9b59b6;
}
.right-section{
    overflow: hidden;
    float: right;
    text-align: right;
}
.item{
    margin: 6px 0;
}
.num{
    display: block;
    font-size: 30px;
}
.word{
    font-size: 16px;
}

