body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
}
.wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-template-columns: 40% 30% 30%; */
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    grid-gap: 1em;
}
.wrapper > div{
    background: #eee;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    background: #ddd;
}

